@model Library.ViewModels.EditBookViewModel
@{
    ViewBag.Title = "Edit Book";
}
S
<h2>Edit book</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Edit book</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Author)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Author)
            @Html.ValidationMessageFor(model => model.Author)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Publisher)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Publisher)
            @Html.ValidationMessageFor(model => model.Publisher)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.YearOfPublishing)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.YearOfPublishing)
            @Html.ValidationMessageFor(model => model.YearOfPublishing)
        </div>

        <div class="editor-label">
            @Html.CheckBoxFor(model => model.IncludeToPage)
        </div>

        <p><input type="submit" value="Save changes" /></p>
    </fieldset>

}