@model Library.Data.Book
@{
    ViewBag.Title = "Edit Book";
}
@{
    var check = "";
    if (Model.IncludeToPage)
    {
        check = "checked=\"checked\"";
    }
    if (!Model.IncludeToPage)
    {
        check = "";
    }
}

<h2>Edit book</h2>

<form id="editForm" name="editForm" class="form-horizontal" action="@Url.Action("EditBook", "Book")" method="post" onsubmit="return validateBookEditForm()">
    <div class="control-group">
        <label class="control-label">Update your book:</label>
        <div class="controls">

            <input type=hidden name="Id" value="@Model.Id" />
            <input type=hidden name="LibraryType" value="@Model.LibraryType" />

            Book name:<br>
            <input type="text" name="Name" value="@Model.Name"><br>

            Author:<br>
            <input type="text" name="Author" value="@Model.Author"><br>

            Publisher:<br>
            <input type="text" name="Publisher" value="@Model.Publisher"><br>

            Year of publishing:<br>
            <input type="date" name="YearOfPublishing" value="@Model.YearOfPublishing.GetDateTimeFormats()" min="1700-01-01" max="2017-11-02" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"><br>

            Include to the Page:<br>
            <input type="checkbox" id="check" name="IncludeToPage" value="@Model.IncludeToPage" @check ><br>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn btn-primary" value="Save changes" />
        </div>
    </div>
</form>
<script src="~/Scripts/LibraryAdmin/EditFormValidator.js"></script>
