@model Library.Data.Book
@{
    ViewBag.Title = "Edit Book";
}
@{
    var check = "";
    if (Model.IncludeToPage)
    {
        check = "checked=\"checked\"";
    }
    if (!Model.IncludeToPage)
    {
        check = "";
    }
}

<h2>Edit book</h2>

<form id="editForm" class="form-horizontal" action="@Url.Action("EditBook", "MyLibrary")" method="post">
    <div class="control-group">
        <label class="control-label">Update your book:</label>
        <div class="controls">

            <input type=hidden name="Id" value="@Model.Id" />

            Book name:<br>
            <input type="text" name="Name" value="@Model.Name"><br>

            Author:<br>
            <input type="text" name="Author" value="@Model.Author"><br>

            Publisher:<br>
            <input type="text" name="Publisher" value="@Model.Publisher"><br>

            Year of publishing:<br>
            <input type="text" name="YearOfPublishing" value="@Model.YearOfPublishing"><br>

            Include to the Page:<br>
            <input type="checkbox" id="check" name="IncludeToPage" value="@Model.IncludeToPage" @check><br>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn btn-primary" value="Save changes" />
        </div>
    </div>
</form>
<script src="~/Scripts/Library/BookChanges.js"></script>