@model Library.Data.Periodical
@{
    ViewBag.Title = "Edit Periodical";
}
@{
    var check = "";
    if (Model.IncludeToPage)
    {
        check = "checked=\"checked\"";
    }
    if (!Model.IncludeToPage)
    {
        check = "";
    }
}

<h2>Edit Periodical</h2>

<form id="editForm" name="editForm" class="form-horizontal" action="@Url.Action("EditPeriodical", "Periodical")" method="post" onsubmit="return validateEditForm()">
    <div class="control-group">
        <label class="control-label">Update your periodical:</label>
        <div class="controls">

            <input type=hidden name="Id" value="@Model.Id" />
            <input type=hidden name="LibraryType" value="@Model.LibraryType" />

            Periodical name:<br>
            <input type="text" name="Name" value="@Model.Name"><br>

            Publisher:<br>
            <input type="text" name="Publisher" value="@Model.Publisher"><br>

            Date of publishing:<br>
            <input type="date" name="YearOfPublishing" value="@Model.YearOfPublishing" min="1700-01-01" max="2017-11-02" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"><br>

            Include to the Page:<br>
            <input type="checkbox" id="check" name="IncludeToPage" value="@Model.IncludeToPage" @check><br>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn btn-primary" value="Save changes" />
        </div>
    </div>
</form>
<script src="~/Scripts/Library/EditFormValidator.js"></script>
